{% load staticfiles %}

<ul class="menu">
    <li>
        <a href="{% url 'main' %}" class="{% if request.path == '/index/' %}active{% endif %}">
            домой
        </a>
    </li>
    <li>
        <a href="{% url 'catalog' %}" class="{% if request.path == '/products/' %}active{% endif %}">
            продукты
        </a>
    </li>
    <li>
        <a href="{% url 'contacts' %}" class="{% if request.path == '/contacts/' %}active{% endif %}">
            контакты
        </a>
    </li>
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:edit' %}">
            Мой профиль
        </a>
    </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">
            выйти
        </a>
        {% else %}
        <a href="{% url 'auth:login' %}">
            войти
        </a>
        {% endif %}
    </li>
    <li>
        <a href="#" class="basket">{{ basket }}<img src="{% static 'img/basket.png' %}" alt=""></a>
    </li>
</ul>